.jumbotron {
    background-image: url(../images/subway.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

body {
    background-color: gray;
}

.table {
    display: inline-table; 
}

th {
    background-color: blue;
    color: white;
}

h1 {
    text-shadow: 0 0 20px #000000;
    color: red;             
    font-size: 75px;
    padding-left: 50px;
    text-align: center;
}

h2 {
    text-shadow: 0 0 20px #000000;
    color: yellow;
    font-size: 45px;
    padding-left: 50px;
}

.card-header {
    border-color: blue;
    background-color: blue;
    color: white;
}

#add-user {
    background-color: blue;
    color: white;
}

.col-lg-12 {
    padding: 0px;
}

@media only screen and (max-width: 768px) {
    body      {
    padding: 0px;
    margin-right: 0px;
    }
}


